@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}

h2 {
  @apply text-2xl font-bold;
}

p {
  @apply font-secondary;
}

ul {
  @apply font-secondary list-disc px-4;
}

a {
  @apply font-secondary font-bold text-lg text-neutral-950 hover:text-neutral-950/70 transition-all duration-500;
}
